.footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 85px;
    bottom: 15px;
    width: 100%;
}

.footer a{
    margin: auto;
}
.icon{
    margin-left: 350px;
    height: 45px;
    width: 45px;
    flex: auto; 
}

.nome{
    margin-right: 60px;
}